<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>Welcome Home!</h1>

	Course Name:<%= name %>    <br>
	Classroom: <%= classroom %> <br>
	Version: <%= obj2.version %>
</body>
</html>