<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
		<h1>Welcome Home! <%= username%></h1> 		
	</div>

	<a href="/logout"> logout</a><br>	
	Course Name:<%= name %>    <br>
	Classroom: <%= classroom %> <br>
	Version: <%= obj2.version %>
</body>
</html>