<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Welcome home, <%= username%></h2> 		
	</div>

	<a href="/logout">Logout</a><br>
	Name:  <%= name %> <br>
	Id: <%= data2.version %>
</body>
</html>