<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Edit Page</h2> 		
	</div>

	<a href="/home">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		<table>
			<tr>
				<td>ID: </td>
				<td><input type="text" readonly name="id" value="<%= user.id %>"></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="username" value="<%= user.username %>"></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="text" name="password" value="<%= user.password %>"></td>
			</tr>
			<tr>
				<td>Type: </td>
				<td><input type="text" name="type" value="<%= user.type %>"></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Update"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>